@import './About.css';
@import './Navbar.css';
@import './Hero.css';
@import './Footer.css';
@import './Contact.css';
@import './Resume.css';
@import './Experience.css';
@import './Projects.css';

@media (max-width: 320px) {
  .hero-h1 {
    font-size: 2.5rem;
  }
  .hero-h2 {
    font-size: 1.1rem;
  }
}

@media (max-width: 376px) {
  .hero-h1 {
    font-size: 2.5rem;
  }
  .hero-h2 {
    font-size: 1.1rem;
  }
}

@media (max-width: 426px) {
  .hero-h1 {
    font-size: 3.5rem;
  }
  .hero-h2 {
    font-size: 1.1rem;
  }
}