.experience {
    background-color: #f0f0f0;
}
  
.experience-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.experience-h1 {
    font-family: 'Lato', sans-serif;
    font-size: clamp(40px, 2vh, 40px);
    font-weight: bolder;
    margin: 1rem 0rem 1rem 0rem;
}

.experience-p {
    font-family: 'Roboto Slab';
    font-size: 1.0rem;
    text-align: center;
    padding: 0% 15% 0% 15%;
}

.experience-skills-work {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin: 2rem 0rem 0rem 0rem;
}

.experience-skills, .experience-work > p {
    font-size: 1.25rem;
    text-align: center;
}

.experience-skills-images {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 1rem;
    justify-content: center;
}

.skill-image {
    filter: grayscale(1);
    width: 3rem;
}

.skill-image:hover {
    filter: grayscale(0);
    transition-duration: .5s;
}

.valley-queen {
    width: 15rem;
    margin: 0rem 0rem 1rem 0rem;
}

.genesis {
    width: 15rem;
    margin: 0rem 0rem 0rem 0rem;
}

.experience-work-images {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 426px) {
    .experience-h1 {
        font-family: 'Lato', sans-serif;
        font-size: 2rem;
        font-weight: bolder;
        margin: 1rem 0rem 1rem 0rem;
    }
    
    .experience-p {
        font-family: 'Roboto Slab';
        font-size: .9rem;
        text-align: center;
        padding: 0% 15% 0% 15%;
    }
    
    .experience-skills-work {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        margin: 2rem 0rem 0rem 0rem;
    }
    
    .experience-skills, .experience-work > p {
        font-size: 1rem;
        text-align: center;
    }
    
    .experience-skills-images {
        display: grid;
        grid-template-columns: repeat(5, auto);
        grid-gap: 1rem;
        justify-content: center;
    }
    
    .skill-image {
        filter: grayscale(1);
        width: 2.5rem;
    }
    
    .skill-image:hover {
        filter: grayscale(0);
        transition-duration: .5s;
    }
    
    .valley-queen {
        width: 12rem;
        margin: 0rem 0rem 1rem 0rem;
    }
    
    .genesis {
        width: 12rem;
        margin: 0rem 0rem 0rem 0rem;
    }
    
    .experience-work-images {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .experience-skills-work {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        margin: 2rem 0rem 0rem 0rem;
    }

    .experience-work {
        margin: 2rem 0rem 0rem 0rem;
    }

}