.hero-bg-img {
  background-image: url('./images/background-mountain-dark.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
}

.hero-h1 {
  font-family: 'Lato', sans-serif;
  font-size: 5rem;
  margin: 0% 0% 0% 0%;
  font-weight: bold;
}

.hero-content {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-arrow {
  font-size: 1.5rem;
  margin-top: 1.3rem;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.fade-down {
  animation-name: fadeDown;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: .75s;
  animation-fill-mode: forwards;
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up {
  animation-name: fadeUp;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: .75s;
  animation-fill-mode: forwards;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-span {
  margin-top: 1em;
}
.hover {
  animation: hoverUpDown 2s linear infinite;;
}

@keyframes hoverUpDown {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-20px);
  }
  100%{
    transform: translateY(0);
  }
}

.profile {
  border-radius: 50%;
  width: 10rem;
  margin: 1.5rem 0% 1.5rem 0%;
}

.about-p {
  font-family: 'Roboto Slab';
  font-size: 1.0rem;
  text-align: center;
  padding: 0% 15% 0% 15%;
}

.about-h1 {
  font-family: 'Lato', sans-serif;
  font-size: 2.5rem;
  font-weight: bolder;
}

.hero-span > a {
  color: #ffffff;
  text-decoration: none !important;
}

.footer {
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  margin-top: 1rem;
}

.footer-content > p {
  margin-top: .5rem;
}

.git-logo, .linkedin-logo{
  color: #ffffff;
  background-color: #333333;
  font-size: 2.2rem;
  padding: .6rem;
  text-decoration: none;
  transition: .25s;
}

.git-logo {
  margin-right: .5rem;
}

.git-logo:hover{
  background-color: #4183C4;
  transform: scale(1.1);
}

.linkedin-logo:hover{
  background-color: #23527c;
  transform: scale(1.1);
}

.navbar, .navbar-content {
  z-index: 1;
  width: 100%;
}

.nav-link:hover {
  opacity: .8;
}

.transparent {
  animation: navbarBackgroundToTransparent;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: .25s;
  animation-fill-mode: forwards;
}

@keyframes navbarBackgroundToTransparent{
  0%{
    background-color: black;
    padding: 0;
  }
  100%{
    background-color: transparent;
  }
}

.black {
  animation: navbarBackgroundToBlack;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: .25s;
  animation-fill-mode: forwards;
}

.contact {
  background-color: #f0f0f0;
}

.contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-img {
  font-size: 3rem;
}

.contact-anchor {
  border: #222222;
  border-style: solid;
  padding: .7rem;
  font-size: 1.2rem;
}

.contact-anchor:hover{
  animation-name: anchorAnimation;
  animation-duration: .33s;
  animation-fill-mode: forwards;
}

.contact-anchor:not(:hover){
  animation-name: reverseAnchorAnimation;
  animation-duration: .33s;
  animation-fill-mode: forwards;
}

.experience {
  background-color: #f0f0f0;
}

.experience-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.resume-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.resume-anchor {
  margin: 1rem 0rem 0rem 0rem;
  border: #ffffff;
  border-style: solid;
  padding: .7rem;
  font-size: 1.2rem;
}

.resume-anchor:hover {
  animation-name: anchorAnimation;
  animation-duration: .33s;
  animation-fill-mode: forwards;
}

.resume-anchor:not(:hover) {
  animation-name: reverseAnchorAnimation;
  animation-duration: .33s;
  animation-fill-mode: forwards;
}

@keyframes anchorAnimation {
  0% {
    padding: .7rem;
  }
  100% {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: rgba(255,255,255, 0.2);
  }
}

@keyframes reverseAnchorAnimation {
  0% {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: rgba(255,255,255, 0.2);
  }
  100% {
    padding: .7rem;
    background-color: initial;
  }
}

.resume-h1 {
  font-family: 'Lato', sans-serif;
  font-size: 2.5rem;
  margin: 0% 0% 0% 0%;
  font-weight: bold;
}

.resume-bg-img {
  background-image: url('./images/background-desk-dark-blur.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
}

.projects-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes navbarBackgroundToBlack{
  0%{
    background-color: transparent;
  }
  100%{
    background-color: black;
    padding: 0;
  }
}

@media (max-width: 320px) {
  .hero-h1 {
    font-size: 2.5rem;
  }
  .hero-h2 {
    font-size: 1.1rem;
  }
}

@media (max-width: 376px) {
  .hero-h1 {
    font-size: 2.5rem;
  }
  .hero-h2 {
    font-size: 1.1rem;
  }
}

@media (max-width: 426px) {
  .hero-h1 {
    font-size: 3.5rem;
  }
  .hero-h2 {
    font-size: 1.1rem;
  }
}